body{
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: #40514E;
  }
.p{
  line-height: 2;
}
.intro{
  width: 30%;
  margin: auto;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  }
h2{

    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    padding-bottom: 10px;
  }


h3{
    color: #11999E;
    font-family: 'Merriweather', serif;
  }
.top{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 50px;

}
.middle{
  padding: 100px 0;
}
.bottom{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a
{
  color: #11999E;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
}
.pro{
  text-decoration:underline;
}
.top-cloud
{
  position: absolute;
  right: 400px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 350px;
  bottom: 300px;
}
.pr{
  height: 200px;
  width: 200px;
}
.python-img{
  width: 25%;
  float: left;
  margin-right: 20px;
}
.web-img{
  width: 30%;
  float: right;
  margin-left: 20px;
  padding-top: 40px;
}
.con{
  margin: 40px auto 60px auto;
}
hr{
  border: dotted #EAF6F6;
  width: 4%;
  border-bottom: none;
  margin: 50px auto;
}
.abcdefg{
  border: dotted #EAF6F6;
  width: 4%;
  border-bottom: none;
  margin: 50px auto;
  margin-top: -5px;
}
.contact-meassage{
  margin: 40px auto 60px;
}
.btn{
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 85;
  -moz-border-radius: 85;
  border-radius: 85px;
  font-family: Georgia;
  color: #FFFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.CONTACT{
  color: green;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.ol{
  text-align: center;
  list-style-position: inside;
}
